<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <section id="albums">
        <div class="container">
            <!-- Albums of the year -->
            <!-- Details of album -->
            <div class="row" id="error">
                <div class="col s12 ">
                    <div class="card-content z-depth-1">
                        <h1 class="herro" >Nie mamy takiego albumu :(</h1>
                        <h3 class="herro flow-text">Wpadni później !!</h3>
                    </div>
                </div>
                <!-- Best albume --
            </div>
        </div>
        <script src="js/main.js"></script>
    </section>
</body>

</html>